[submodule "lwip"]
	path = lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/CTSRD-CHERI/nginx.git
[submodule "libcxxrt"]
	path = libcxxrt
	url = https://github.com/CTSRD-CHERI/libcxxrt
